 .tabel {
    color: var(--fourth-color);
    .ant-table-thead > tr > th {
        color: var(--second-color);
    }
    th.ant-table-cell {
        border-bottom: 3px solid var(--second-color) !important;
        color: var(--second-color) !important;
        text-align: center !important;
        font-size: 14px !important;
        font-weight: 500 !important;
    }
    td.ant-table-cell {
        text-align: center !important;
        font-weight: 700;
        font-size: 14px;
    }
    td.ant-table-cell {
        border-bottom: 1px solid var(--second-color) !important;
    }
    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 115px;
        color: var(--second-color);
    }
    button {
        background-color: transparent;
    }
    .ant-table-tbody {
        color: var(--second-color);
    }
    tr.ant-table-row.ant-table-row-level-0:last-child {
        td.ant-table-cell {
            border-bottom: 3px solid var(--second-color) !important;
        }
    }

    .btn {
        background-color: var(--second-color);
        color: var(--third-color);
        cursor: pointer;
        padding: 0 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
}
}
@media (max-width: 768px) {
.your-cart {
        .tabel {
            display: none;
        }
        .tabel.small {
            display: block;
            th.ant-table-cell {
                font-size: 11px !important;
                font-weight: normal !important;
            }
            td.ant-table-cell {
                font-weight: normal !important;
                font-size: 12px !important;
            }
        }
    }
}
@media (min-width: 767px) {
    .tabel.small {
        display: none;
    }
}



