* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --first-color: #f2f2ee;
  --second-color: #776661;
  --third-color: #ffffff;
  --fourth-color: #707070;
  --fifth-color: #e8a137;
  --sixth-color: #e6e4dc;
}
